@import '../../global.scss';

.skills{
    background-color: $javaColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: black;
        font-weight: 300;
    }
}