@import "../../global.scss";

.about {
  background-color: $netColor;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    display: block;
  }
  .left {
    flex: 1;
    background-color: $javaColor;
    height: 100%;

    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      @include mobile {
        padding: 10px;
      }
      h2 {
        font-size: 5vh;
        width: 100%;
        text-align: center;
        padding: 10px;
      }

      .lottieabout {
        height: 300px;
        width: 300px;
        overflow: hidden;
        @include mobile {
          height: 250px;
          width: 250px;
        }
      }

      h1 {
        font-size: 3.5vh;
        text-transform: uppercase;

        @include mobile {
          font-size: 3vh;
        }
      }

      h3 {
        padding-top: 10px;
        font-size: 2.5vh;
        font-weight: 400;
        @include mobile {
          font-size: 2.3vh;
        }
      }
    }
  }
  .right {
    color: $mainColor;
    flex: 1;
    width: 100%;
    height: 100%;
    @include mobile {
      width: 100%;
    }

    .top {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      @include mobile {
        height: 50px;
        width: 85%;
      }
      .lottieabout {
        #lottie {
          width: 100px;
        }
      }
      h1 {
        font-size: 5vh;
        text-align: center;
      }
    }
    .center {
      
      p {
        font-size: 2.3vh;
        text-align: justify;
        padding: 0 20px;
        @include mobile {
          font-size: 1.6vh;
        }
      }

    }
  }
}
