@import "../../global.scss";

.portFolioList{
        font-size: 18px;
        margin-right: 50px;
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
        &.active {
          background-color: $netColor !important;
          color: $mainColor;
        }
}